
@charset "utf-8";
html {
    font-size: 62.5%;
}
body {
    background: none repeat scroll 0 0 #ffffff;
    color: #000000;
    font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 1.4rem;
    line-height: 1;
    position: relative;
}
img {
    vertical-align: top;
}
ul li {
    list-style: none outside none;
}
.note {
    font-size: 1rem;
}
.gotop {
    bottom: 0;
    position: fixed;
    right: 0;
}
.gotop a {
    display: block;
    height: 100px;
    width: 82px;
}
.btn:hover {
    opacity: 0.7;
}
#footer {
    background: none repeat scroll 0 0 #000000;
    color: #ffffff;
    display: table;
    font-size: 1.1rem;
    height: 70px;
    width: 100%;
}
#footer span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.section {
    font-size: 1.4rem;
}
.section .inner {
    margin: 0 auto;
    position: relative;
    width: 960px;
}
.sec01 {
    background: url("../images/main01.png") no-repeat scroll 50% 0 rgba(0, 0, 0, 0);
    height: 421px;
}
.sec01 .logo {
    left: 360px;
    position: absolute;
    top: 24px;
}
.sec01 h1 {
    display: none;
}
.sec02 {
    background: url("../images/bg01.gif") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 190px;
}
.sec02 p {
    left: 180px;
    position: absolute;
    top: 20px;
}
.sec03 {
    border-bottom: 5px solid #dddddd;
    border-top: 5px solid #dddddd;
}
.sec03 ul {
    overflow: hidden;
}
.sec03 ul li {
    float: left;
}
.sec04 {
    background: url("../images/bg02.png") no-repeat scroll 50% 0;
    height: 845px;
}
.sec04 h2 {
    left: 0;
    position: absolute;
    top: 38px;
}
.sec04 h3 {
    font-weight: bold;
    font-size: 150%;
    padding-bottom: 4px;
}
.sec04 dl.point1 h3 {
    color: #10ACC5;
}
.sec04 dl.point2 h3 {
    color: #64CC5E;
}
.sec04 dl.point1 {
    left: 8px;
    position: absolute;
    top: 160px;
    width: 560px;}
.sec04 dl.point2 {
    left: 495px;
    position: absolute;
    top: 420px;
    width: 480px;
}
.sec04 dl dd {
    line-height: 1.6;
    margin-top: 10px;
    font-size: 110%;
    text-align: justify;
}
.sec04 p.ill {
    left: 620px;
    position: absolute;
    top: 132px;
}
.sec04 p.btn {
    left: 170px;
    position: absolute;
    top: 648px;
}
.sec05 {
    border-top: 6px solid #FF339A;
}
.sec05 .inner {
    min-height: 323px;
    padding: 60px 0 65px;
}
.sec05 h2 {
    left: 0;
    position: absolute;
    top: 30px;
}
.sec05 p.lead {
    left: 8px;
    line-height: 1.4;
    position: absolute;
    top: 156px;
}
.sec05 .zero {
    background: none repeat scroll 0 0 #ffffff;
    margin: 168px 0 80px;
    overflow: hidden;
}
.sec05 .zero ul {
    text-align: center;
    overflow: hidden;
}
.sec05 .zero ul li {
    width: 227px;
    margin: 4px;
    display: inline-block;

}
.sec05 .program {
    margin-top: 180px;
}
.sec05 .program p {
    color: #ffffff;
    font-size: 1.6rem;
    padding: 10px 0;
    text-align: center;
    width: 240px;
}
.sec05 .program p.color00 {
    background: none repeat scroll 0 0 #F64207;
}
.sec05 .program p.color01 {
    background: none repeat scroll 0 0 #00ABA6;
}
.sec05 .program p.color02 {
    background: none repeat scroll 0 0 #3399cc;
}
.sec05 .program p.color03 {
    background: none repeat scroll 0 0 #FF9A02;
}
.sec05 .program div {
    background: none repeat scroll 0 0 #ffffff;
    overflow: hidden;
    padding: 30px 30px 30px 10px;
}
.sec05 .program div dl {
    float: left;
    margin-left: 20px;
    width: 210px;
}
.sec05 .program div dl dt {
    width: 210px !important;
}
.sec05 .program div dl dd {
    font-size: 1.2rem;
    line-height: 1.5;
}
.sec05 .program div dl dd p {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: -5px;
    text-align: left;
}
.sec05 .program div.col00 dd p {
    color: #F64207;
}
.sec05 .program div.col01 dd p {
    color: #00ABA6;
}
.sec05 .program div.col02 dd p {
    color: #3399cc;
}
.sec05 .program div.col03 dd p {
    color: #FF9A02;
}
.sec05 p.btn {
    margin: 50px 0 0 170px;
}
.sec06 {
    background: url("../images/bg04.png") no-repeat scroll 50% 0 #a6e6c9;
    border-top: 7px solid #7bd5a8;
}
.sec06 .inner {
    height: 960px;
}
.sec06 h2 {
    left: 51px;
    position: absolute;
    top: 30px;
}
.sec06 p.lead {
    left: 51px;
    line-height: 1.4;
    position: absolute;
    top: 140px;
    width: 257px;
}
.sec06 p.btn {
    left: 170px;
    position: absolute;
    top: 759px;
}
.sec06 dl dt {
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.2;
}
.sec06 dl dd {
    font-size: 1.3rem;
    line-height: 1.4;
    width: 250px;
}
.sec06 dl.v01 {
    left: 544px;
    position: absolute;
    top: 116px;
}
.sec06 dl.v02 {
    left: 23px;
    position: absolute;
    top: 400px;
}
.sec06 dl.v03 {
    left: 502px;
    position: absolute;
    top: 490px;
}
.sec06 dl.v01 dd {
    margin-top: 28px;
}
.sec06 dl.v02 dd {
    margin-top: 20px;
}
.sec06 dl.v03 dd {
    margin-top: 28px;
}
.sec07 {
    border-top: 6px solid #FF339A;
    border-bottom: 6px solid #ff339a;
    padding-bottom: 70px;
}
.sec07 .inner {
    padding: 200px 0 0;
    position: relative;
}
.sec07 h2 {
    left: 0;
    position: absolute;
    top: 28px;
}
.sec07 p.lead {
    left: 8px;
    line-height: 1.4;
    position: absolute;
    top: 140px;
}
.sec07 p.btn {
    left: 170px;
    position: absolute;
    top: 929px;
}
.sec08 {
    margin: 0 auto;
    padding: 42px 0 58px;
    width: 856px;
}
.sec08 .inner {
    background: url("../images/bg01.gif") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 190px;
}
.sec08 p.lead {
    margin: 15px 0 30px;
}
.sec08 ul.step {
    overflow: hidden;
}
.sec08 ul.step li {
    float: left;
}
.sec08 ul.txt {
    margin-top: 35px;
}
.sec08 ul.txt li {
    background: url("../images/ic01.png") no-repeat scroll 0 0.6em rgba(0, 0, 0, 0);
    font-size: 1.2rem;
    line-height: 1.7;
    padding-left: 12px;
}
.sec08 ul.txt li span {
    font-size: 1.4rem;
    font-weight: bold;
}
.sec09 {
    background: url("../images/bg01.gif") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.sec09 .inner {
    width: 960px;
    margin: 0 auto;
    height: 190px;
    position: relative;
}
.sec09 p {
    left: 180px;
    position: absolute;
    top: 20px;
}
#entry {
    background: url("../images/bg006.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 298px;
    margin-top: 20px;
    position: relative;
    width: 851px;
}
#entry h2 {
    left: 160px;
    position: absolute;
    top: 45px;
}
#entry .lead {
    color: #ffffff;
    left: 400px;
    position: absolute;
    top: 35px;
}
#entry .entryBtn {
    left: 205px;
    position: absolute;
    top: 158px;
}
#entry .select01, #entry .select02 {
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 5px;
    width: 250px;
}
#entry .select01 {
    left: 158px;
    position: absolute;
    top: 112px;
}
#entry .select02 {
    left: 442px;
    position: absolute;
    top: 112px;
}
.mt30 {
    margin-top: 30px !important;
}
